.container {
  height: 100%;

  header {
    background-color: #00bfff;
    color: #efefef;
    box-shadow: 0 3px 3px -3px #949a9c;
    text-shadow: 0 1px 0 #949a9c;
    z-index: 1;

    div {
      margin: 0 1rem 0 1rem;

      .logo {
        font-size: 3.5rem;
        font-family: 'Fredoka One', cursive;
        letter-spacing: 1px;

        img {
          position: relative;
          bottom: 5px;
          margin: 0 5px;
        }
      }

      .github {
        color: #fff;
        margin-top: 1rem;
      }
    }
  }

  aside {
    background-color: #f2f4f4;

    nav {
      padding-top: 20px;

      h4 {
        font-size: 1.5rem;
        text-align: center;
      }

      ul {
        text-transform: capitalize;
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 0.5px;

        li {
          a {
            padding: 0.5rem 0.75rem;
            display: block;
            text-align: center;
            transition: all 0.25s;
            color: #666;

            &:hover {
              background-color: #fff;
              text-decoration: none;
            }
          }
        }
      }
    }

    &.sticky {
      position: fixed;
      top: 0;
      height: 100%;
      width: 25%;
    }
  }

  main {
    padding: 2rem 4rem 10rem 4rem;

    h1 {
      border-bottom: solid 1px #eaefef;
    }

    .canvas {
      background-color: #f2f2f2;
      border-radius: 5px;
      padding: 10px;

      div:not(.empty) {
        margin: 5px;
        border-radius: 5px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
      }
    }

    .green {
      background-color: #c7e853;
    }

    .yellow {
      background-color: #f2ef37;
    }

    .pink {
      background-color: #ff2873;
    }

    .purple {
      background-color: #a07df2;
    }

    .grey {
      background-color: #eee;
    }

    #simple-flex-example, #responsive-flex-example {
      height: 300px;
    }

    #simple-grid-example, #responsive-grid-example, #mixing-grid-and-flex-example {
      height: 500px;
    }

    #mixing-grid-and-flex-example {
      .purple {
        .grey {
          width: 100px;
          height: 20px;
        }
      }

      .yellow, .green {
        padding: 20px;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .container {
    header {
      div {
        .logo {
          font-size: 2.2rem;

          img {
            width: 20px;
          }
        }
      }
    }

    main {
      padding: 2rem;
    }
  }
}
