* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'PT Sans Caption', sans-serif;
  background-color: #f9fbfc;
  color: #666;
  overflow: hidden;

  h2, h3 {
    text-transform: capitalize;
  }

  a {
    text-decoration: none;
    color: #00bfff;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    line-height: 1.8;
  }

  pre {
    font-family: Consolas, "Courier New", monospace;
    font-size: 14px;
    line-height: 1.6;
    background-color: #f2f4f4;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
    white-space: pre-wrap;
  }

  table {
    width: 100%;
    border-radius: 5px;

    caption {
      font-weight: bold;
      font-size: 16px;
      margin: 10px 0;
      text-align: left;
    }

    thead {
      tr {
        th {
          text-align: left;
          padding: 10px 0;
          font-weight: bold;
          border-bottom: solid 1px #eee;
        }
      }
    }

    tbody {
      tr {
        td {
          padding: 10px 0;
          border-bottom: solid 1px #eee;
        }
      }
    }
  }

  var {
    font-family: Consolas, "Courier New", monospace;
    font-style: normal;
    border-bottom: dotted 1px #ccc;
  }
}

:root {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  html, body {
    overflow: auto;
  }
}
