* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Dosis, sans-serif;
  background-color: #f9fbfc;
  color: #666;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: #00bfff;
    }
  }

  p {
    line-height: 1.8;
  }

  pre {
    font-family: Consolas, "Courier New", monospace;
    font-size: 14px;
    line-height: 1.6;
    background-color: #f2f4f4;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
    white-space: pre-wrap;
  }
}

:root {
  font-size: 16px;
}
