* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Dosis, sans-serif;
  background-color: #f9fbfc;
  color: #666;

  a {
    text-decoration: none;
    color: inherit;
  }

  p {
    line-height: 1.8;
  }
}

:root {
  font-size: 16px;
}
